# Bitcoin Cash Node Service
# This is a template - actual paths are set during installation
#
# Variables to replace:
#   {{BCH_DIR}} - Bitcoin Cash Node binary directory
#   {{BCH_DATA}} - Bitcoin Cash data directory
#   {{POOL_USER}} - Pool system user (default: spiraluser)

[Unit]
Description=Bitcoin Cash Node Daemon
Documentation=https://bitcoincashnode.org
After=network-online.target
Wants=network-online.target
# Prevent restart loops: max 5 restarts in 60 minutes (nodes can take 30+ min to start)
StartLimitIntervalSec=3600
StartLimitBurst=5

[Service]
Type=forking
User={{POOL_USER}}
Group={{POOL_USER}}
ExecStart={{BCH_DIR}}/bin/bitcoind -daemon -conf={{BCH_DATA}}/bitcoin.conf -datadir={{BCH_DATA}}
ExecStop={{BCH_DIR}}/bin/bitcoin-cli -conf={{BCH_DATA}}/bitcoin.conf stop
PIDFile={{BCH_DATA}}/bitcoind.pid
Restart=always
RestartSec=30
TimeoutStartSec=infinity
TimeoutStopSec=600
LimitNOFILE=65535

# NOTE: Systemd security hardening intentionally omitted.
# Some blockchain daemons crash with SIGABRT under modern systemd
# hardening options (PrivateTmp, ProtectSystem, etc.)

[Install]
WantedBy=multi-user.target
