# Bitcoin II Node Service
# This is a template - actual paths are set during installation
#
# IMPORTANT: Bitcoin II uses capital "II" in binary names: bitcoinIId, bitcoinII-cli
#
# Variables to replace:
#   {{INSTALL_DIR}} - Installation directory (default: /spiralpool)
#   {{POOL_USER}} - Pool system user (default: spiraluser)

[Unit]
Description=Bitcoin II Core Daemon
Documentation=https://bitcoinii.org
After=network-online.target
Wants=network-online.target
# Prevent restart loops: max 5 restarts in 60 minutes (nodes can take 30+ min to start)
StartLimitIntervalSec=3600
StartLimitBurst=5

[Service]
Type=forking
User={{POOL_USER}}
Group={{POOL_USER}}
# Note: Bitcoin II binaries use capital "II" - bitcoinIId not bitcoiniid
ExecStart={{INSTALL_DIR}}/bc2/bin/bitcoinIId -daemon -conf={{INSTALL_DIR}}/bc2/bitcoinii.conf -datadir={{INSTALL_DIR}}/bc2 -pid={{INSTALL_DIR}}/bc2/bitcoiniid.pid
ExecStop={{INSTALL_DIR}}/bc2/bin/bitcoinII-cli -conf={{INSTALL_DIR}}/bc2/bitcoinii.conf -datadir={{INSTALL_DIR}}/bc2 stop
PIDFile={{INSTALL_DIR}}/bc2/bitcoiniid.pid
Restart=always
RestartSec=30
TimeoutStartSec=infinity
TimeoutStopSec=600
LimitNOFILE=65535

# NOTE: Systemd security hardening intentionally omitted.
# Some blockchain daemons crash with SIGABRT under modern systemd
# hardening options (PrivateTmp, ProtectSystem, etc.)

[Install]
WantedBy=multi-user.target
