# Syscoin Node Service (AuxPoW - merge-mined with Bitcoin)
# This is a template - actual paths are set during installation
#
# Variables to replace:
#   {{INSTALL_DIR}} - Installation directory (default: /spiralpool)
#   {{SYS_DIR}} - Syscoin binary directory
#   {{POOL_USER}} - Pool system user (default: spiraluser)

[Unit]
Description=Syscoin Core Daemon
Documentation=https://syscoin.org
After=network-online.target
Wants=network-online.target
# Prevent restart loops: max 5 restarts in 60 minutes (nodes can take 30+ min to start)
StartLimitIntervalSec=3600
StartLimitBurst=5

[Service]
Type=forking
User={{POOL_USER}}
Group={{POOL_USER}}
ExecStart={{SYS_DIR}}/bin/syscoind -daemon -conf={{INSTALL_DIR}}/sys/syscoin.conf -datadir={{INSTALL_DIR}}/sys
ExecStop={{SYS_DIR}}/bin/syscoin-cli -conf={{INSTALL_DIR}}/sys/syscoin.conf stop
PIDFile={{INSTALL_DIR}}/sys/syscoind.pid
Restart=always
RestartSec=30
TimeoutStartSec=infinity
TimeoutStopSec=600
LimitNOFILE=65535

# NOTE: Systemd security hardening intentionally omitted.
# Some blockchain daemons crash with SIGABRT under modern systemd
# hardening options (PrivateTmp, ProtectSystem, etc.)

[Install]
WantedBy=multi-user.target
